.head {
    background: 
      radial-gradient(farthest-side at -33.33% 50%,#0000 52%,#4881ac 54% 57%,#0000 59%) 0 calc(172px/2),
      radial-gradient(farthest-side at 50% 133.33%,#0000 52%,#4881ac 54% 57%,#0000 59%) calc(172px/2) 0,
      radial-gradient(farthest-side at 133.33% 50%,#0000 52%,#4881ac 54% 57%,#0000 59%),
      radial-gradient(farthest-side at 50% -33.33%,#0000 52%,#4881ac 54% 57%,#0000 59%),
      #4f8dbd;
    background-size: calc(172px/4.667) 172px,172px calc(172px/4.667);
    margin-top: -8px;
    margin-left: -8px;
    padding: 50px;
    width: 100%;
    font-size: 50px;
    border-bottom: 4px solid gray;
}

.divisor {
    margin: 50px;
    width: 300px;
    background-color: #65b4f1;
    border: 3px solid #65b4f1;
    border-radius: 5%;
    position: absolute;
    text-align: center;
}

a {
    color: white;
    font-size: 42px;
    position: relative;
    margin-top: 30px;
    text-decoration: none;
}

a:hover {
    color: #eeeeee;
}

a:active {
    color: #ccc;
}

#first {
    margin-left: 5%;
    margin-right: 30%;
}

#second {
    margin-left: 37.5%;
    margin-right: 62.5%;
}

#third {
    margin-right: 5%;
    margin-left: 70%;
}

i {
    font-size: 70px;
    padding: 40px 35px;
}

#third i {
    padding: 40px 30px;
}

* {
    font-family: sans-serif;
}

body {
    background-color: #cce7fc
}

.bg {
    background-image: linear-gradient(gray, #cce7fc);
    height: 40px;
    width: 100%;
    margin-left: -8px;
    margin-top: -33px;
    position: absolute;
}

.bg2 {
    background-image: linear-gradient(gray, #cce7fc);
    height: 40px;
    width: 100%;
    margin-right: -8px;
    margin-top: -33px;
}
